body {
  font-family: Arial;
  background: #f4f6fb;
  color: #333;
}

.dark {
  background: #121212;
  color: white;
}

header {
  background: blue;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
}

.dark section {
  background: #1e1e1e;
}


